.k-layout {
  display: flex;
  flex-direction: column !important;
}

.k-layout-header {
  background: #fff;
  box-shadow: 0 0 11px rgba(0,0,0,.5);
  display: flex;
  z-index: 1;
}

.k-layout-header .ant-menu-item {
  line-height: 64px;
  height: 64px;
}


.k-layout-header .user-nav {
  margin-left: auto;
}

.k-layout-header .editor-actions {
  margin-left: auto;
}

.k-layout-content {
  display: flex;
}

