.res-panel {
  position: absolute;
  top: 0;
  left: 70px;
  background: #fff;
  overflow: visible;
  height: calc(100vh - 112px);
  box-shadow: 0 0 14px 0 rgba(22, 45, 61, 0.36);
  min-height: 270px;
  border-radius: 8px;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 6px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #3797ea;
    background-image: linear-gradient(360deg, rgba(6, 49, 85, 0.2), rgba(56, 153, 236, 0));
  }
  &-inner {
    padding-left: 6px;
    height: 100%;
    .ant-tabs {
      height: 100%;
    }
    .ant-tabs-vertical.ant-tabs-left>.ant-tabs-content {
      padding-left: 0px !important;
      height: 100%;
      .ant-tabs-tabpane {
        height: 100%;
      }
    }
    .ant-tabs-vertical>.ant-tabs-bar .ant-tabs-ink-bar {
      display: none !important;
    }
    .ant-tabs-vertical>.ant-tabs-bar .ant-tabs-tab {
      padding: 0 10px 0 3px;
      font-size: 14px;
      margin-bottom: 2px;
      height: 30px;
      font-weight: 300;
    }
    .ant-tabs-vertical.ant-tabs-left>.ant-tabs-bar .ant-tabs-tab {
      text-align: left;
      padding-left: 6px;
    }
    .category-name-wrapper {
      display: inline-block;
      border-radius: 20px;
      height: 30px;
      line-height: 30px;
      overflow: hidden;
      position: relative;
      padding: 0 14px;
    }
    .ant-tabs-vertical>.ant-tabs-bar .ant-tabs-nav {
      padding: 14px 0;
    }
    .ant-tabs-nav .ant-tabs-tab:hover {
      color: #fff;
    }
    .ant-tabs-nav .ant-tabs-tab-active {
      color: #fff;
      .category-name-wrapper {
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.11), inset 1px 1px 2px rgba(0, 0, 0, 0.15);
      }
    }
    .area {
      height: 100%;

      .scrollbar-container {
        opacity: 1;
      }

      .scrollbar-container.vertical {
        width: 6px;
        opacity: 0;
        transition: opacity .4s ease-out;
        will-change: opacity;
        pointer-events: none;
        right: 3px;
        width: 6px;

        .scrollbar {
          background-color: rgba(78, 183, 245, 0.7);
          border-radius: 3px;
          width: 6px;
        }
      }

      &:hover {
        .scrollbar-container.vertical {
          right: 3px;
          width: 6px;
          opacity: 1;
          transition-duration: .2s;
        }
      }
    }

 
    .content-wrapper {
      margin-right: 0;
      height: 100%;
      overflow-y: visible;
      .sections {
        position: relative;
        .section-wrapper {
          height: 100%;
          margin-top: 19px;
          padding-top: 3px;
          overflow: hidden;
          padding-bottom: 9px;
          margin-bottom: 21px;
          .section-header {
            margin: 0 auto;
            width: 356px;
            min-height: 25px;
            .title-line {
              font-size: 14px;
              position: relative;
              border-bottom: 1px solid #8092a4;
              color: #2b5672;
              display: flex;
              .title {
                display: inline-block;
                width: calc(100% - 42px);
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: left;
              }
            }
          }
          .section-live-site-wrapper {
            width: 304px;
            transform: scale(1, 1);
            transform-origin: 0px 0px 0px;
            backface-visibility: hidden;
            margin: 24px 24px 0 24px;
            .section-preview-container {
              height: 100%;
              position: relative;
            }
          }
          .list-item-with-image {
            height: 116px;
            cursor: pointer;
            padding: 13px 24px;
            background-color: #fff;
            display: flex;
            cursor: pointer;

            &:hover {
              background-color: #eaf7ff;
            }

            .image {
              display: inline-block;
              width: 90px;
              height: 90px;
            }
            .content {
              vertical-align: top;
              display: inline-block;
              width: 148px;
              margin: 9px 10px 0 16px;
              flex: 1;
              .title {
                font-size: 15px;
                color: #162d3d;
                margin-bottom: 6px;
              }
              .desc {
                font-size: 14px;
                color: #2b5672;
                font-weight: 300;
              }
              .ellipsis {
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            .indicator {
              display: flex;
              align-items: center;
              .symbol-arrow-with-states .st0 {
                fill: transparent;
                stroke: #3899ec;
              }
              .symbol-arrow-with-states .st1 {
                fill: #3899ec;
              }
            }
          }
          .items-wrapper {
            margin-right: auto;
            margin-left: 14px;
            width: 324px;
            height: 1152px;
            .items {
              position: relative;
              margin-left: auto;
              margin-right: auto;
              background-repeat: no-repeat;
              overflow: hidden;
              .preset-item {
                position: absolute;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
