.dashboard {
  display: flex;
  width: 100%;
}

.sidebar .ant-menu{
  background: #375b74;
  color: #fff;
  font-weight: 200px;
}

.overview-content {
  display: flex;
  padding-top: 25px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.quick-actions {
  background: #fff;
  border-radius: 8px;
  display: flex;
  margin-bottom: 24px;
  width: 850px;
  align-items: stretch;
}

.quick-actions .quick-action-wrapper {
  flex-grow: 1;
}

.quick-actions .quick-action {
  display: block;
  color: #363636;
  height: 100px;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  padding-top: 25px;
  border-right: 1px solid #ececec;
}

.quick-actions .button-icon {
  font-size: 28px;
  text-align: center;
}

.quick-action-text {
  display: block;
  text-align: center;
}

.settings-section {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 0 0 rgba(228,228,228,.59);
  overflow: hidden;
  min-width: 850px;
  margin: 0 auto 30px;
  box-sizing: border-box;
}

.settings-section .overview-item {
  height: 60px;
  line-height: 60px;
  display: block;
}

.settings-section .action-row {
  border-bottom: 1px solid #f0f4f7;
  margin-left: 23px;
  margin-right: 23px;
  display: block;
  height: 100%;
}

.settings-section .action-row>div {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.settings-section .overview-item .item-name {
  width: 210px;
  font-size: 16px;
  color: #162d3d;
}

.settings-section .overview-item .item-content {
  width: 380px;
  margin-right: 40px;
  font-size: 16px;
  color: #162d3d;
}

.settings-section .overview-item .item-action {
  float: right;
  text-align: right;
}


